.badge {
  width: 36.82px;
  height: 20.27px;
  padding: 1.6372548341751099px 4.911764621734619px;
  border-radius: 3.2745096683502197px;
  gap: 8.186274528503418px;
  background: rgba(35, 152, 246, 1);
  color: #fff;
  text-align: center;
  line-height: 1;
}

.spaced-badge {
  display: inline-block;
  width: 75.82px;
  height: 20.27px;
  padding: 2px 5px;
  gap: 8.186274528503418px;
  margin-left: 10px;
}

.card-title-container {
  display: flex;
  align-items: center;
}

.card-title {
  flex-grow: 1;
  white-space: break-spaces;
}

.calendar-image {
  width: 50px;
  height: 50px;
}

.card-date {
  width: 274.42px;
  height: 17.19px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.04em;
  text-align: left;
  color: rgba(59, 59, 59, 1);
  margin-top: 10px;
  padding: 5px;
}

.profile-image {
  width: 50px;
  height: 50px;
  margin-top: 5px;
  margin-left: 10px;
}

.profile-container {
  display: flex;
  align-items: center;
}

.profile-info {
  display: flex;
  align-items: center;
}

.profile-text {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.04em;
  text-align: left;
  color: rgba(59, 59, 59, 1);
  margin-top: 15px;
  margin-left: 15px;
  padding: 5px;
}

.profile-text-span {
  width: 117.8823471069336px;
  height: 14.7352933883667px;
  top: 15.55419921875px;
  left: 40.11273193359375px;

  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.04em;
  text-align: left;
  color: rgba(88, 88, 88, 1);
}

@media (max-width: 767px) {
  .profile-container {
    flex-direction: column;
    align-items: flex-start;
  }
}

.onetoone-container {
  display: flex;
  align-items: center;
}

.onetoone-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid gray;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
}

.onetoone-logo {
  font-size: 15px;
  color: rgba(29, 221, 199, 1);
}

.onetoone-text {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-align: left;
  margin-top: 15px;
  color: rgba(29, 221, 199, 1);
}

.card {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
}

.card {
  width: auto;
  max-width: 100%;
}
