.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
  height: 80px;
  background: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
}

.back-icon {
  width: 30px;
  height: 30px;
  margin-left: 20px;
}

.back-icon-text {
  width: 10px;
  height: 30px;
  padding-left: -10px;
}

.navbar-right {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  margin-right: 10px;
}

.navbar-nav {
  display: flex;
  width: 100%;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center; /* Center horizontally */
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 35px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid black;
  padding: 0 10px;
  margin: 0 auto;
}

.search-input {
  flex-grow: 1;
  height: 100%;
  border: none;
  outline: none;
  background: none;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.5);
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.navbar-line {
  position: absolute;
  width: 100%;
  top: 55px;
  border: 0.5px solid rgba(221, 221, 221, 1);
  background: linear-gradient(
      0deg,
      rgba(196, 196, 196, 0),
      rgba(196, 196, 196, 0)
    ),
    linear-gradient(0deg, #dddddd, #dddddd);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.recent-heading {
  width: 199px;
  height: 24px;
  margin-left: 20px;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(34, 34, 34, 1);
  margin-top: 30px;
}

.recent-section {
  position: relative;
}

.recent-content {
  margin-top: 20px;
  padding: 10px;
}

.all-categories-heading {
  position: absolute;
  width: 199px;
  height: 24px;
  top: 180px;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: Left;
  color: rgba(34, 34, 34, 1);
  margin-left: 10px;
  padding-left: 10px;
}

.categories-container {
  margin-top: 100px;
}

.card {
  margin: 10px;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.all-categories-heading {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 24px;
  top: 60px;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(34, 34, 34, 1);
  margin-left: 10px;
  margin-right: auto;
  left: 0;
  right: 0;
  padding-left: 10px;
}

.category-icon {
  text-align: center;
}

.category-name {
  text-align: center;
}

@media (max-width: 900px) {
  .navbar-right {
    font-size: 14px;
  }

  .navbar {
    max-width: 100%;
    height: 50px;
  }

  .search-bar {
    width: 80%;
    max-width: 300px;
    height: 30px;
    padding: 0 8px;
  }

  .all-categories-heading {
    top: 10px;
  }

  .categories-container {
    top: 10px;
  }
}
